* {
    background-color: rgb(153, 153, 153);
}

h1 {
    text-align: center;
    /* border: 2px solid black; */
}

.container {
    /* border: 2px solid red; */
    padding: 20px;
    justify-content: space-evenly;
}

#game {
    text-align: center;
    padding: 20px;
    /* border: 2px solid blue; */
}

.scoreBoard > * {
    /* border: 2px solid green; */
}

body {
    font-size: x-large;
}

button {
    font-size: 64px;
    background-color: blue;
}

.scoreBoard h3 {
    text-align: center;
}

.scoreBoard div {
    display: flex;
    justify-content: center;
}

.scoreBoard div > * {
    /* border: 2px solid orange; */
    margin: 20px
}

#userScore, #compScore {
    display: block;
    text-align: center;
    margin: 20px;
}

#resultMessage {
    height: 80px;
}