body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #616161;
    text-align: center;
}
/* header */

/* game section */
button {
    cursor:pointer;
}


.emoji {
    font-size: 72px;
    margin: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    transition: .4s;
}

.buttonsContainer .emoji:focus {
    text-shadow: 0px 0px 1rem #f5fc1e;
    border-color: #f5fc1e;
    transform: scale(1.3);
}

.compBtnsContainer {
    transform: rotate(180deg);
}

.compElection {
    text-shadow: 0px 0px 1rem #fc1e1e;
    border-color: #f5fc1e;
    transform: scale(1.3);
}

/* popup */
#ggPopup {
    width: 400px;
    padding: 100px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    transition: .1s;
    visibility: hidden;
}

#restartButton {
    font-size: 32px;
    background-color: #f5fc1e;
    border-radius: 16px;
    border: 3px solid #000000;
    color: #000000;
    outline: none;
    margin: 20px auto 40px auto;
    padding: 5px 25px;
    transition: .3s;
}

.active {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}